@import '../../../../colors.scss';
.ReviewApproveStep {
  .ProjectNotes {
    .form-group {
      padding: 0.5rem;
    }
  }
  button.edit {
    display: block;
    float: right;
  }
  .review-header {
    display: flex;
  }
  .ProjectNotes.form-row .reviewRequired.form-group {
    padding: 1rem;
  }
  &.container-fluid form div.container-fluid {
    padding-left: 0.5rem;
  }
  .ProjectDraftForm .ProjectNotes {
    display: none;
  }
  .UpdateInfoForm .ProjectNotes {
    display: none;
  }
}
