$header-height: 72px;
$footer-height: 46px;
$navbar-height: 45px;
$filter-height: 76px;
$contentheading-height: 60px;

.PropertyListView {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0;

  .filter-container {
    padding: 0;
    background-color: var(--light);

    .map-filter-bar {
      align-items: center;
      padding: 1rem 0;

      .bar-item {
        .form-group {
          padding: 0;
          margin: 0;
        }
      }

      .btn-warning {
        color: white;
        font-weight: bold;
      }

      .form-control {
        border-radius: 0;
      }
    }
  }

  .TableToolbar {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
  }

  .TableToolbar .menu {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: auto;
    margin-right: auto;
  }

  .TableToolbar .menu div {
    margin-left: 10px;
  }

  .ScrollContainer {
    padding: 1rem 2rem;
    max-height: calc(
      100vh - #{$header-height} - #{$navbar-height} - #{$filter-height} - #{$footer-height}
    );
    overflow-y: scroll;

    table {
      background-color: #fff;
    }
  }
}
