@import '../../../variables';
@import '../../../colors';
$contentheading-height: 60px;
.PropertyListView {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0;
  .filter-container {
    padding: 0;
    background-color: $filter-background-color;
    .container {
      max-width: 1360px;
    }
    .map-filter-bar {
      align-items: center;
      padding: 1rem 0;
      .vl {
        border-left: 6px solid rgba(96, 96, 96, 0.2);
        height: 40px;
        margin-left: 1%;
        margin-right: 1%;
        border-width: 2px;
      }
      .bar-item {
        .input-group {
          .input-group-prepend {
            .form-group {
              width: 110px;
            }
          }
          .input-group-content {
            .form-group {
              width: 180px;
            }
          }
        }
        .form-group {
          padding: 0;
          margin: 0;
        }
      }
      .map-filter-typeahead {
        min-width: 200px;
        max-width: 250px;
      }
      .btn-warning {
        color: white;
        font-weight: bold;
      }
      .form-control {
        border-radius: 0;
        max-width: 200px;
      }
    }
    .form-group {
      margin-bottom: 0rem;
    }
  }
  .TableToolbar {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    align-items: center;
  }
  .TableToolbar .menu {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: auto;
    margin-right: auto;
  }
  .TableToolbar .menu div {
    margin-left: 10px;
  }
  .ScrollContainer {
    padding: 1rem 2rem;
    max-height: calc(
      100vh - #{$header-height} - #{$navbar-height} - #{$mapfilter-height} - #{$footer-height}
    );
    overflow-y: scroll;
    table {
      background-color: #fff;
    }
    .table {
      overflow-x: auto;
    }
  }
}
