@import '../../../variables';
@import '../../../fonts.scss';
@import '../../../colors.scss';

.ProjectLayout {
  font-family: 'BCSans', Fallback, sans-serif;
  text-align: left;
  margin-bottom: #{$footer-height};
  height: calc(100vh - #{$header-height} - #{$navbar-height} - #{$footer-height});
  max-height: calc(100vh - #{$header-height} - #{$navbar-height} - #{$footer-height});
  overflow-y: auto;
  background-color: $form-background-color;
  color: $text-color;
  padding-left: 10rem;
  padding-right: 10rem;

  .ProjectLayoutContent {
    min-width: fit-content;
    > .container-fluid {
      margin: 0.5rem 0;
      padding: 5rem 0 0 0;
    }
    padding: 1rem 1.5rem;
    background-color: white;
    min-height: calc(100vh - #{$header-height} - #{$navbar-height} - #{$footer-height});
  }

  h3 {
    font-family: 'BCSans-Bold', Fallback, sans-serif;
    color: $primary-color;
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
  }

  .UpdateInfoForm.container-fluid,
  .ProjectDraftForm.container-fluid {
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    padding: 0 !important;
    font-size: 20px;
    font-family: 'BCSans', Fallback, sans-serif;
    color: $text-color;
  }

  h1 {
    color: $primary-light-color;
    font-size: 20px;
    font-family: 'BCSans-Bold', Fallback, sans-serif;
  }

  .table .td {
    &.clickable {
      cursor: pointer;
    }
    .form-group .form-control {
      font-size: 14px;
      &.is-valid {
        padding-right: 0.25rem;
        background-image: none;
      }
    }
  }

  .form-group {
    margin: 0.5rem 0;
  }

  .form-control {
    font-size: 14px;
  }

  label.form-label {
    font-size: 14px;
    margin-top: 10px;
    font-family: 'BCSans', Fallback, sans-serif;
  }

  .nav.nav-tabs a {
    font-family: 'BCSans', Fallback, sans-serif;
  }

  .step-content {
    padding: 0;
    overflow-x: auto;
  }

  .edit {
    display: none;
  }

  .SresManual {
    float: right;
  }

  .form-row {
    margin: 0;
  }

  .form-row > .col,
  .form-row > [class*='col-'] {
    padding: 0;
  }

  .invalid-feedback {
    display: block;
  }

  .check-field {
    padding: 0 0.5rem;
    .form-label {
      margin-left: 20px;
    }
  }

  #input-tierLevelId {
    max-width: 100px;
  }

  #input-riskId {
    max-width: 100px;
  }

  textarea {
    min-height: 8rem;

    &.col-md-auto {
      resize: both;
      min-width: 41.666667%; //match col-md-5 percentage
      width: 41.666667%; //match col-md-5 percentage on load
      max-width: 83.3%; //prevents box from moving labels around
    }
  }

  input:disabled {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .tooltip-icon {
    margin-left: 0.5rem;
  }

  .check-field {
    .form-label {
      margin-top: 0;
      font-size: 14px;
      font-family: 'BCSans', Fallback, sans-serif;
    }
  }
}
