.leaflet-div-icon {
  background: none !important;
  border: none !important;
}

.cluster-marker {
  font-weight: 400;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-color: rgb(120,120,120);
  color: white;

  /* Blue background */
  /* background-color: #0e3468;
  border: solid 1px white;
  color: white; */


  /* White background */
  /* background-color: white;
  border: solid 2px #0e3468;
  color: black; */
  
}

.street {
  /* background-color: rgb(120, 120, 120); */
  /* color: white; */
  /* background-color: #0e3468; */
}

.satellite {
  /* background-color: #FCBA19; */
  color: black;
}
