.leaflet-div-icon {
  background: none !important;
  border: none !important;
}

.cluster-marker {
  font-weight: 400;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  /* Default Style */
  background-color: #787878;
  color: white;
}

.street {
  background-color: #787878;
  color: white;
}

.satellite {
  background-color: white;
  border: solid 2px #0e3468;
  color: #0e3468;
}
