/* Overriding unsettable popup width of 301px */
.full-size {
  width: auto;
  .leaflet-popup-content-wrapper {
    .leaflet-popup-content {
      width: auto !important;
      min-width: 400px;
      max-width: 800px;
    }
  }
}
