**/sh.exe.stackdump
bash.exe.stackdump
*.env
.vs
*.orig
*.param
.scannerwork/
auth/keycloak/config/hsperfdata_jboss/
auth/keycloak/config/*.log
.DS_Store
/backups
**/node_modules
database/mssql/data
docker-compose.override.yml
-docker-compose.override.yml

#### Node-specific ####
# dependencies
node_modules/
/.pnp
.pnp.js

# testing
coverage/
test-report.xml
cypress/videos
cypress/screenshots
testUser.json

# production
build/
public/videos

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

jest/latestTestRun.json
package-lock.json

# .csv and txt files created by script
tools/propertyCheck/*.csv
tools/propertyCheck/*.txt
