 ## This docker-compose file is used to build the images for the backend, frontend services and a databse migration image (if any chnage).  
services:
  ####################### Backend #######################
  backend:
    build:
      context: backend
      dockerfile: Dockerfile.ocp
    ports:
      - 8080:8080

  ####################### Frontend #######################
  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile.ocp
    ports:
      - 8080:8080

  ################## Database Migration #################

  migration:
    build:
      context: backend
      dockerfile: Dockerfile.migrations
    