@import '../../../_variables.module.scss';

#file-upload {
  padding: 1em;
  margin: 1em auto;
  max-width: 80%;
  height: 15em;
  border-radius: 3px;
  background-color: white;
  filter: drop-shadow(0 0 0.5rem $light-variant-color);
  transition: all 0.25s;

  &:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    transition: all 0.25s;
  }

  .dashed-container {
    border: dashed 4px darkgray;
    padding: 2em;
    height: 100%;
    background: none;
  }

  p {
    margin: 1em auto;
  }
}

#file-upload.drag {
  background-color: #f0f0f0;
}
