@import '../../../_variables.module.scss';

.csv-upload-page {
  height: 100%;

  .container,
  .row {
    height: 100%;
    padding: 1em 0;
  }

  #instructions {
    p {
      text-align: center;
    }
  }

  #upload-button {
    margin: 0 auto;
  }

  // For Progress Area
  #progress-message {
    margin: 0.5em;
  }

  #results-feed {
    height: 35rem;
    width: auto;
    background-color: whitesmoke;
    margin: 1rem 0;
    padding: 0.5rem;
    overflow-y: scroll;
    border-radius: 0.5rem;
    border: 2px solid grey;
  }
}
