@import '../../../_variables.module.scss';

.csv-upload-page {
  height: 100%;

  .container,
  .row {
    height: 100%;
    padding: 1em 0;
  }

  #instructions {
    p {
      text-align: center;
    }
  }

  #file-upload {
    padding: 1em 2em;
    margin: 1em auto;
    max-width: 80%;
    height: 15em;
    border-radius: 3px;
    background-color: white;
    filter: drop-shadow(10px 10px 4px $light-variant-color);

    &:hover {
      background-color: $light-variant-color;
      cursor: pointer;
    }

    .dashed-container {
      border: dashed 4px darkgray;
      padding: 2em;
      height: 100%;
    }

    p {
      margin: 1em auto;
    }
  }

  #upload-button {
    margin: 0 auto;
  }
}
