@import '../../colors.scss';

.basemap-container {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  border: 2px solid white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  background-color: #ccc;
  color: $light-variant-color;
  width: 75px;
  height: 75px;
  margin: 1em;
  transition: opacity 0.25s ease-in-out;
  z-index: 600;

  .caption {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 12px;
    line-height: normal;
    padding: 12px 0px 6px 0px;
    margin-bottom: 0;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
    text-indent: 6px;
    text-shadow: rgba(0, 0, 0, 0.7) 0px 1px 8px;
    text-align: left;
    z-index: 590;
  }

  .basemap-item {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    border-radius: 8px;
    overflow: hidden;
    z-index: 550;
    background-color: rgba(255, 255, 255, 0.01);
    display: none;
    &.secondary {
      z-index: 551;
      display: block;
    }
    &-button {
      cursor: pointer;
    }
  }
}
