@import '../../variables';
@import '../../colors';

.button-content {
  max-width: fit-content;
  min-width: min-content;
  display: inline;
  .button-sign {
    font-size: 1rem;
    max-width: fit-content;
    display: inline;
  }
  .button-text {
    font-size: 0.9rem;
    max-width: fit-content;
    display: inline;
  }
}

.popover-style {
  max-width: 100%;
  .title-content {
    .close-button {
      cursor: pointer;
      max-width: fit-content;
    }
    .sale-sign {
      font-size: 1.2rem;
      fill: $primary-color;
      max-width: fit-content;
      min-width: min-content;
    }
    .title-text {
      font-size: 1.3rem;
    }
  }
}
