@import '../../variables';
@import '../../colors';

.surplus-properties-button {
  min-width: 12.5em;
  height: 2em;
  align-items: center;

  .button-content {
    max-width: fit-content;
    min-width: min-content;
    display: flex;
    .button-sign {
      font-size: 1rem;
      max-width: fit-content;
      display: inline;
    }
    .button-text {
      font-size: 0.9rem;
      max-width: fit-content;
      display: inline;
      margin-left: 0.5em;
    }
  }
}
.popover-style {
  max-width: 100%;
  margin-left: 5em;
  .title-content {
    .close-button {
      cursor: pointer;
      max-width: fit-content;
    }
    .sale-sign {
      font-size: 1.2rem;
      fill: $primary-color;
      max-width: fit-content;
      min-width: min-content;
    }
    .title-text {
      font-size: 1.3rem;
    }
  }
}
