@import '../../../variables';
.accessRequestPage {
  overflow-y: scroll;
  height: calc(100vh - #{$header-height} - #{$navbar-height} - #{$footer-height});
}

.accessRequestPage-header {
  font-size: xx-large;
  margin: 20px 0 25px 0;
}

.userInfo {
  max-width: 500px;
  margin: auto;
}

/*
  The Access Request form consists of rows of user info, 
  this selector adds spacing between the rows so that they are easily readable. 
*/
.userInfo > * > div.row,
div.hstack {
  margin-top: 12.5px;
  text-align: left;
}

/*

*/

.roles-input > div {
  width: 100%;
}

.position-input > div {
  width: 100%;
  padding: 0;
}

.notes-input > div {
  width: 100%;
  padding: 0;
}

.success {
  display: flex;
  background-color: lightgreen;
  margin: auto;
  padding: 5px;
}

.success p {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.info {
  display: flex;
  background-color: lightskyblue;
  margin: auto;
  padding: 5px;
}

.info p {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.notes {
  padding-bottom: 30px;
}

.isDisabled {
  padding-bottom: 10px;
}

.cancelSave {
  padding-top: 15px;
  padding-bottom: 10px;
}

.navBar {
  font-weight: 700;
  text-align: left;
}

div.required {
  color: black;
  font-weight: normal;
}

.required {
  color: red;
}
