@use '../../../../colors';

.LinkMenu {
    background-color: colors.$filter-background-color;
    //height: 500px;
    width: 322px;
    margin: 0px 0px 0px -10px;
    font-size: 14px;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
    a {
        padding: 0px 2px;
        color: colors.$slide-out-blue;
        display: inline-block;
        white-space: nowrap;
    }
    .VerticalBar {
        border-left: 2px solid colors.$text-color;
        height: 20px;
        width: 0;
        padding: 0;
        display: inline-block;
        white-space: nowrap;
    }
}



