@use '../../../../colors';

.link-menu {
  background-color: colors.$filter-background-color;
  margin: 0px -10px;
  font-size: 14px;
  padding: 10px;
  display: flex;
  white-space: nowrap;
  justify-content: flex-start;
  a {
    padding: 0px 2px;
    color: colors.$slide-out-blue;
    display: inline-block;
    white-space: nowrap;
  }
  .vertical-bar {
    border-left: 2px solid colors.$filter-background-text-color;
    height: 18px;
    width: 0;
    padding: 0;
    display: inline-block;
    white-space: nowrap;
  }
  .header-link {
    margin: 0 0.5em;
  }
}
