@import '../../../../colors.scss';

.list-group {
  .list-group-item {
    padding: 0px 0px 5px 0px;
    border: none;
    font-family: 'BCSans', Fallback, sans-serif;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    color: $text-color;

    &.legal {
      padding-left: 15px;
    }

    &.left-side {
      text-align: right;
    }

    .label {
      color: $light-variant-color;
      font-weight: lighter;
    }
  }
}

.header {
  border-bottom: 1px solid rgba(96, 96, 96, 0.2);
  font-weight: 600;
  font-size: 16px;
  color: $text-color;
  padding: 2px 0px;
  margin-bottom: 5px;
  text-align: left;
}

.leaflet-control {
  margin-right: 0px;
}

.styled-link {
  color: $slide-out-blue !important;
  font-weight: lighter;
}
