@import '../../../../styles.scss';

.legendTooltip {
  .arrow::before {
    border-right-color: white !important;
    box-shadow: 2px grey;
  }

  .tooltip-inner {
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0px;
    text-align: left;
    .row {
      .label {
        padding-left: 0;
        display: flex;
        align-items: center;
      }
    }
  }
}
