@import '../../../../colors.scss';

.legend-control {
  &.card {
    min-width: 200px;
    .card-header {
      margin-bottom: 0;
      border-bottom: none;
      background-color: #fff;
      font-weight: 900;
      color: $text-color;
    }
    .card-body {
      padding-top: 0px;
      padding-bottom: 10px;
      .row {
        margin-top: 5px;
        padding-bottom: 5px;
        .col {
          display: flex;
          align-items: center;
          color: $text-color;
        }
      }
    }
  }
}
