@import '../../fonts.scss';
.search-bar {
  padding: 12px;
  background-color: #f2f2f2;
  .bar-item {
    .form-group {
      padding: 0;
      margin: 0;
    }
  }
  .vl {
    border-left: 6px solid #666666;
    height: 40px;
    margin-left: 1%;
    margin-right: 1%;
    border-width: 1px;
  }
}
