@import '../../fonts.scss';
@import '../../colors.scss';
.search-bar {
  padding: 12px;
  background-color: $filter-background-color;
  .bar-item {
    .form-group {
      padding: 0;
      margin: 0;
    }
  }
  .vl {
    border-left: 6px solid #666666;
    height: 40px;
    margin-left: 1%;
    margin-right: 1%;
    border-width: 1px;
  }
  button.btn {
    width: 44px;
    height: 36px;
  }
}
