@import '../../colors.scss';

#find-more-properties {
  width: 52em;
  .form-section {
    margin: 1em 0;
    padding: 0.5em;
    background-color: $table-header-color;
    border-radius: 5px;
    .form-row,
    .form-row-centred {
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 0 5%;
      .form-label {
        margin: 0.5em;
        width: fit-content;
        text-align: right;
      }
      .form-control.number-input {
        width: 6em;
      }
      .form-control.building-select {
        width: 15em;
      }
      .form-control.project-number-input {
        width: 10em;
      }

      .location-label-col {
        width: 5em;
      }
      .location-col {
        width: 17.8em;
      }
      .lot-size-col {
        .form-label {
          width: 4em;
          text-align: left;
        }
      }
      .lot-size-max-col {
        width: 8.8em;
      }
    }
    .form-row-centred {
      justify-content: center;
    }
  }

  .invalid-feedback-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    .invalid-feedback {
      display: block;
    }
  }
  .search-button {
    width: 100%;
    margin: 0.5em 0;
  }
  .vertical-line {
    border-left: 10px solid rgba(96, 96, 96, 0.2);
    height: 1.5rem;
    border-width: 2px;
  }

  .no-padding {
    padding: 0;
  }
}
