.SurplusPropertyListForm {
  .ProjectNotes .form-label {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .btn {
    height: unset;
    min-height: 48px;
    margin-left: 1rem;
  }
  .form-check-inline {
    margin-right: 0;
  }
  .form-check-label {
    font-size: 12px;
    font-family: 'BCSans', Fallback, sans-serif;
    margin-right: 1rem;
  }
  textarea {
    &.col-md-auto {
      max-width: 75%; //prevents box from stretching off the side of the page
    }
  }
}
