@import '../../../variables';
.leaflet-container {
  /* Subtract the header, nav-bar and footer sizes */
  height: calc(
    100vh - #{$header-height} - #{$navbar-height} - #{$mapfilter-height} - #{$footer-height}
  );
  // margin-top: 10px;
  // padding-top: 20px;
  width: 100%;
  margin: auto;

  .leaflet-popup-content-wrapper {
    border-radius: 0;
  }
  .leaflet-popup-content {
    margin: 0px;
    .list-group {
      .list-group-item {
        border: none;
        padding: 0.5rem 1.25rem;
      }
    }
  }
}

.leaflet-control-layers {
  &.leaflet-control-layers-expanded {
    border-radius: 0px;
  }
  .leaflet-control-layers-overlays {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 150px;
    label {
      display: flex;
    }
  }
}
