$header-height: 72px;
$navbar-height: 45px;
$mapfilter-height: 76px;
$footer-height: 46px;

.leaflet-container {
  /* Subtract the header, nav-bar and footer sizes */
  height: calc(
    100vh - #{$header-height} - #{$navbar-height} - #{$mapfilter-height} - #{$footer-height}
  );
  // margin-top: 10px;
  // padding-top: 20px;
  width: 100%;
  margin: auto;

  .leaflet-popup-content {
    margin: 0px;
  }
}
