.Menu-root {
  position: relative;
  border: 1px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .Menu-button {
    font-size: 14px;
  }

  .Menu-items {
    box-shadow: 2px 2px 5px #888888;
    background-color: #fff;
    position: absolute;
    display: none !important;
    z-index: 700;
    flex-direction: column;
    &.open {
      display: flex !important;
    }

    &.left {
      left: 0;
    }

    &.top {
      bottom: 0;
    }

    .Menu-filter {
      margin: 5px;
    }

    .Menu-options {
      box-shadow: 2px 2px 5px #888888;
      z-index: 1000;
      &.scrollable {
        max-height: 220px;
        overflow-y: scroll;
      }
    }

    .Menu-item {
      width: 100% !important;
      border-radius: 0px !important;
      padding: 0.5rem 1.25rem;
      font-size: 12px;
      text-align: left;
      &:hover {
        background-color: lighten(grey, 45%);
      }
      &:active {
        background-color: #ffc107 !important;
      }
    }
  }
}
