#approvalTabs-tabpane-closeOutForm {
  .col-md-6 {
    padding-right: 2rem;
  }
  .col-md-12.form-group,
  .col-md-12.form-row {
    padding-right: 4rem;
    padding-left: 0;
  }
  .form-check-label {
    padding-right: 1rem;
  }
}
