.EnhancedReferralCompleteForm {
  .ProjectNotes .form-label {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .btn {
    height: unset;
    min-height: 48px;
  }

  .justify-content-center {
    display: flex;
    justify-content: center;
    width: 100%;

    &.add-space-below {
      margin: 20px;
    }
  }
}
