@import '../../../variables';

.agency-edit-form-container {
  margin-top: 2.5em;
  .agencyInfo {
    .label,
    .form-label {
      float: left;
    }
    .form-text-field {
      margin-bottom: 1em;
      width: 20em;
    }
    .form-select-field {
      margin-bottom: 1em;
      margin-left: .7em;
      max-width: fit-content;
      width: 20em;
    }
    .checkboxes {
      margin-top: 10px;
      float: left;
      margin-bottom: 10px;
    }
  }
}
