@import '../../../variables';
.navBar {
  font-weight: 700;
  text-align: left;
}

.required {
  color: red;
  font-weight: 700;
}

.agency-edit-form-container {
  justify-content: center;
  margin-top: 20px;
  margin-bottom: $footer-height;
  .agencyInfo {
    .label,
    .form-label {
      float: left;
    }
    .buttons {
      .cancelSave {
        margin-top: 100px;
      }
    }
    .checkboxes {
      margin-top: 10px;
      float: left;
      margin-bottom: 10px;
    }
  }
}
