@import '../../../variables';

.agency-edit-form-container {
  margin-top: 2.5em;
  .checkboxes {
    margin-top: 10px;
    float: left;
    margin-bottom: 10px;
  }
  .table-style {
    width: 100%;
    .left-col {
      width: 25%;
      .form-label {
        float: left;
      }
    }
    .right-col {
      width: 75%;
      .form-text-field {
        margin-bottom: 1em;
        width: 33rem;
      }
      .form-select-field {
        margin-bottom: 1em;
        margin-left: 0.7em;
        max-width: fit-content;
      }
    }
  }
}
