@import '../../../variables';
.ManageAgencies {
  display: flex;
  flex-direction: column;
  padding: 0;
  .agency-toolbar {
    justify-content: center;
    padding: 0px;
    .search-bar {
      justify-content: center;
      .label {
        margin-top: 10px;
        margin-right: 10px;
      }
    }
    .agency-search {
      min-width: 250px;
      margin-right: 50px;
    }
    .filterBarHeading {
      margin-right: 50px;
    }
  }
  .table-section {
    margin-left: 15%;
    margin-right: 15%;
    padding: 1rem 2rem;
    max-height: calc(
      100vh - #{$header-height} - #{$navbar-height} - #{$mapfilter-height} - #{$footer-height}
    );
    table {
      background-color: white;
    }
  }
}
