.footer {
  bottom: 0;
  padding: 10px 0;

  a {
    display: inline;
    &:link,
    &:visited {
      color: #ffffff;
      font-size: 16px;
      font-family: 'BCSans', Fallback, sans-serif;
      padding: 0 10px;
      border-right: 1px solid #666;
    }
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
