.ReviewProjectStep {
  button.edit {
    display: block;
    float: right;
  }
  .review-header {
    display: flex;
  }
  .review {
    font-size: 16px;
  }
  .ProjectDraftForm .ProjectNotes {
    display: none;
  }
  .UpdateInfoForm .ProjectNotes {
    display: none;
  }
}
