@import '../../../../colors.scss';
.ReviewApproveStep {
  .ProjectNotes {
    .form-group {
      padding: 0.5rem;
    }
  }
  button.edit {
    display: block;
    float: right;
  }
  .review-header {
    display: flex;
  }
  .reviewRequired {
    border: 2px solid $accent-color;
  }
  &.container-fluid form div.container-fluid {
    padding-left: 0.5rem;
  }
  .ProjectDraftForm .ProjectNotes {
    display: none;
  }
}
