@import '../../../../styles.scss';
@import '../../../../colors.scss';

.parcelDetailForm {
  margin-top: 15px;
  text-align: left;
  font-size: 0.75rem;
  font-family: 'BCSans', Fallback, sans-serif;
  background-color: #f2f2f2;
  p {
    margin-left: 2rem;
    font-size: 14px;
  }
  .GeocoderAutoComplete {
    margin-left: 5px;
  }
  .pidPinForm,
  .sumFinancialsForm {
    margin-bottom: 0 !important;
    p {
      margin-top: 1.5rem;
      margin-bottom: 0rem;
    }
  }
  .buildingPaginate {
    display: flex;
    margin-top: -0.5rem;
    .btn.pagedBuildingButton {
      display: flex;
      margin: 0;
      padding: 0.5rem 0.5rem;
      border: 1px solid $table-color;
      border-radius: 0;
      height: 2rem;
    }
    .page-item {
      a {
        border-radius: 0;
        height: 2rem;
      }
    }
    .page-item.error.active a {
      background-color: #dc3545;
      color: black;
      z-index: 3;
    }
    .page-item.error a {
      border: 1px solid #dc3545;
      color: #dc3545;
      z-index: 3;
    }
    .pagination {
      flex-wrap: wrap;
    }
  }
  .col-md-6 {
    padding-right: 4rem;
  }
  .evaluationForm .pagination {
    width: 100%;
    justify-content: flex-end;
  }
  .evaluationForm,
  .col-md-6 {
    padding-left: 1rem;
  }
  .form-check {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  .col {
    padding: 0;
  }
  .form-row {
    margin: 0;
    margin-bottom: 1rem;
  }
  .form-group {
    margin-bottom: 0;
  }
  h4 {
    color: $primary-color;
    font-size: 14px;
  }
  form .row {
    background-color: #fff;
    h2 {
      color: $text-color;
      font-size: 20px;
    }
    h3 {
      background-color: $primary-light-color;
      color: #fff;
      font-size: 1rem;
      line-height: 3rem;
      padding-left: 0.75rem;
    }
    h4 {
      color: $primary-color;
      font-size: 14px;
      padding-left: 1rem;
    }
    h5 {
      padding-left: 1rem;
      display: inline;
    }
    .form-label {
      padding: 0 1rem 0 0;
      min-width: 4.5rem;
    }
    .input-group {
      flex-wrap: nowrap;
    }
    .evaluationForm .input-group.disabled .input-group-prepend .input-group-text {
      border: none;
      background-color: white;
    }
    .AutoCompleteText {
      margin-left: 0.25rem;
    }
    .input-group-content {
      padding: 0;
      width: 100%;
    }
    .input-group-text {
      height: calc(1.5em + 0.75rem + 2px);
      padding: 2px;
    }
  }
  .btn.btn-primary {
    margin-top: 1rem;
    margin-bottom: 1rem;
    .spinner-border {
      position: relative;
    }
  }
  table {
    .is-valid {
      background-image: none !important;
    }
    td {
      padding: 5px;
    }
    tbody td {
      border-bottom: none;
      border-top: none;
      padding-bottom: 0;
      height: 3.75rem;
    }
    input {
      padding: 3px;
    }
    input:disabled {
      background-color: white;
      border: none;
    }
    .form-control.is-valid,
    .form-control.is-invalid {
      padding-right: 0.25rem;
    }
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
  .date-picker.is-invalid {
    padding-right: 0;
  }
}
