@import '../../../../styles.scss';
@import '../../../../colors.scss';
@import '../../../../variables';

.parcelDetailForm {
  text-align: left;
  font-size: 12px;
  font-family: 'BCSans', Fallback, sans-serif;
  p {
    margin-left: 2rem;
    font-size: 14px;
  }
  .buildingPaginate {
    display: flex;
    margin-top: -0.5rem;
    .btn {
      display: flex;
      margin: 0;
      border: 1px solid $table-color;
      border-radius: 0;
      height: 2rem;
      padding: 5px;
    }
    .page-item {
      a {
        border-radius: 0;
        height: 2rem;
      }
    }
    .page-item.error.active a {
      background-color: #dc3545;
      color: black;
      z-index: 3;
    }
    .page-item.error a {
      border: 1px solid #dc3545;
      color: #dc3545;
      z-index: 3;
    }
    .pagination {
      flex-wrap: wrap;
    }
  }
  .form-group {
    display: inline-flex;
    align-items: center;
    padding-left: 25px;
    .tooltip-icon {
      min-width: 25px;
      min-height: 25px;
      margin-left: -25px;
    }
  }
  .nav-tabs {
    background-color: transparent;
    margin-right: 2px;
    .nav-item.nav-link {
      border: 0px;
      margin-right: 4px;
      border-radius: 0px;
      height: 40px;
    }
  }
  .tab-content {
    padding-top: 15px;
    border: 0px;
    background-color: #f2f2f2;
    overflow-y: auto;
  }
  div.invalid-feedback {
    display: none;
  }
  .form-row {
    margin: 0;
    align-items: flex-end;
    margin-bottom: 5px;
    flex-wrap: nowrap;
    .form-label {
      min-width: 100px;
      width: 100px;
      margin: 0;
      padding-left: 8px;
    }
    label.required {
      color: #212529;
      font-weight: 400;
    }
    label.required:after {
      color: red;
      content: ' *';
    }
    .input-group {
      width: auto;
      .form-group {
        input {
          min-width: 120px;
          width: 120px;
        }
      }
    }
    .form-group {
      margin: 0;
      > input,
      textarea,
      select {
        min-width: 300px;
        width: 300px;
      }
      > textarea {
        height: 85px;
      }
      .input-small,
      .date-picker {
        min-width: 120px;
        width: 120px;
      }
      .input-medium {
        min-width: 150px;
        width: 150px;
      }
    }
  }
  .table {
    margin: 0;
    .th,
    .td {
      padding: 5px;
      justify-content: center;
    }
    input {
      margin: 0;
      min-width: 110px;
      width: 110px;
    }
    .form-group {
      padding: 0;
    }
  }
  .date-picker.is-invalid,
  .date-picker.is-valid {
    padding-right: 12px;
  }
  .delete-btn {
    position: absolute;
    background-color: transparent !important;
    color: white !important;
    border: 0px;
    height: 40px;
    padding: 2px;
  }
  .form-controls {
    position: absolute;
    top: -10px;
    right: 0;
  }
}
