@import '../../../../fonts.scss';
@import '../../../../colors.scss';

.ProjectDisposeView {
  .filter-container {
    background-color: $filter-background-color;

    .filter-bar {
      align-items: center;
      padding: 1rem 1rem;

      .bar-item {
        .form-group {
          padding: 0;
          margin: 0;
        }
        .input-group {
          display: block;
        }
      }

      .btn-warning {
        color: white;
        font-weight: bold;
      }

      .form-control {
        border-radius: 0;
      }
    }
  }
}
