@import '../../../../colors.scss';
.manual {
  text-align: left;
  cursor: pointer;
  position: absolute;
  margin-top: 10px;
  .bookOpen {
    border: solid 2px $accent-color;
    border-radius: 100rem;
    display: inline-block;
  }
  svg {
    color: $sres-icon-color;
    margin: 0.5rem;
  }
  .label {
    margin-left: 5px;
  }
  font-size: 12px;
}
