@import '../../../../colors.scss';
.SresManual {
  text-align: center;
  cursor: pointer;
  div {
    border: solid 2px $accent-color;
    border-radius: 2rem;
    display: inline-block;
    background-color: white;
  }
  svg {
    color: $sres-icon-color;
    margin: 0.5rem;
  }
  font-size: 10px;
}
