@import '../../../variables';
.userInfo {
  width: 40%;
  vertical-align: middle;
  text-align: left;
  display: table;
}

.notes {
  padding-bottom: 30px;
}

.is-disabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  :first-child {
    margin-right: 10px;
    margin-bottom: 0px;
  }
}

.cancelSave {
  padding-top: 15px;
  padding-bottom: 10px;
}

.navBar {
  font-weight: 700;
  text-align: left;
}

.required {
  color: red;
  font-weight: 700;
}

.user-edit-form-container {
  justify-content: center;
  margin-bottom: $footer-height;
}
