@import '../../../variables';
@import '../../../colors';

.map-filter-container {
  width: 100%;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  background-color: $filter-background-color;
  display: flex;
  justify-content: center;
  .row {
    padding: 0 0.1em;
    align-items: center;
    justify-content: center;
    width: 100%;
    .col {
      align-items: center;
      min-width: fit-content;
      max-width: fit-content;
      padding: 0;
      margin: 0 0.5em;
    }
    .input-group {
      margin: 0;
      padding: 0;
      .form-control {
        margin: 0;
      }
    }
    .property-filter-options .input-group-content {
      max-width: 150px;
    }
    .property-filter-options {
      padding-top: 24px;
    }
    .form-control {
      border-radius: 0;
      font-size: 14px;
    }

    // For Agency Dropdown
    .dropdown-menu {
      width: auto !important; // So we can see options in full
    }
    .menu-item {
      width: fit-content; // So options take up the space they need
    }
    .agency-container {
      display: flex;
      padding-left: 1em;
    }
    .select-row {
      width: fit-content;
    }
  }

  .flex-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
