@import '../../../fonts.scss';
@import '../../../variables';
@import '../../../colors';
.container-fluid {
  &.map-filter-container {
    height: auto;
    background-color: $filter-background-color;
    .container {
      max-width: 1360px;
    }
    .map-filter-bar {
      align-items: center;
      padding: 1rem 0;
      .vl {
        border-left: 6px solid rgba(96, 96, 96, 0.2);
        height: 40px;
        margin-left: 1%;
        margin-right: 1%;
        border-width: 2px;
      }
      .bar-item {
        .input-group {
          .input-group-prepend {
            .form-group {
              width: 110px;
            }
          }
          .input-group-content {
            .form-group {
              width: 180px;
            }
          }
        }
        .form-group {
          padding: 0;
          margin: 0;
        }
      }
      .map-filter-typeahead {
        min-width: 120px;
        max-width: 250px;
      }
      .btn-warning {
        color: white;
        font-weight: bold;
      }
      .form-control {
        border-radius: 0;
        font-size: 14px;
      }
    }
    .form-group {
      margin-bottom: 0rem;
    }
  }
}
