@import '../../../fonts.scss';
@import '../../../variables';
.container-fluid {
  &.map-filter-container {
    height: #{$mapfilter-height};
    background-color: #f2f2f2;
    .container {
      max-width: 1160px;
    }
    .map-filter-bar {
      align-items: center;
      padding: 1rem 0;
      .vl {
        border-left: 6px solid rgba(96, 96, 96, 0.2);
        height: 40px;
        margin-left: 1%;
        margin-right: 1%;
        border-width: 2px;
      }
      .bar-item {
        .input-group {
          .input-group-prepend {
            .form-group {
              width: 155px;
            }
          }
          .input-group-content {
            .form-group {
              width: 200px;
            }
          }
        }
        .form-group {
          padding: 0;
          margin: 0;
        }
      }
      .agency-item {
        .form-control {
          width: 230px;
        }
      }
      .map-filter-typeahead {
        min-width: 230px;
      }
      .btn-warning {
        color: white;
        font-weight: bold;
      }
      .form-control {
        border-radius: 0;
      }
    }
  }
}
