@import '../../../fonts.scss';
@import '../../../variables';
@import '../../../colors';

.map-filter-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: $filter-background-color;
  .row {
    width: 100%;
    height: auto;
    justify-content: center;
    .pad-top {
      padding-top: 1.2rem;
    }
    .filter-col {
      align-items: center;
      padding-left: 5px;
      padding-right: 5px;
      max-width: 270px;
    }
    .property-filter-options .input-group {
      max-width: 240px;
    }
    .input-group {
      margin: 0;
      padding: 0;
      .form-control {
        margin: 0;
      }
    }
    .property-filter-options .input-group-content {
      max-width: 150px;
    }
    .property-filter-options {
      overflow: hidden;
      padding-top: 24px;
    }
    .form-control {
      border-radius: 0;
      font-size: 14px;
    }
    .divider {
      border-left: 2px solid rgba(96, 96, 96, 0.2);
      height: 40px;
      width: 0;
      margin-left: 0;
    }
  }
}
.container-append {
  padding: 0 0 18px 0;
  margin: 0;
  background-color: $filter-background-color;
}
