@import '../../../variables';
@import '../../../colors';

.map-filter-container {
  width: 100%;
  padding-bottom: .25rem;
  padding-top: .25rem;
  background-color: $filter-background-color;
  .row {
    width: max;
    padding-left: 0;
    padding-right: 0;
    .filter-col {
      align-items: center;
      padding-left: 5;
      padding-right: 5;
    }
    .dropdown-col {
      max-width: fit-content;
      justify-content: space-between;
      flex: auto;
    }
    .agency-col {
      padding-left: 0;
      padding-right: 0;
    }
    .input-group {
      margin: 0;
      padding: 0;
      .form-control {
        margin: 0;
      }
    }
    .property-filter-options .input-group-content {
      max-width: 150px;
    }
    .property-filter-options {
      padding-top: 24px;
    }
    .form-control {
      border-radius: 0;
      font-size: 14px;
    }
    .divider {
      border-left: 1px solid rgba(96, 96, 96, 0.2);
      height: 80px;
      width: 0;
      margin-left: 0;
    }
  }
}
