.address-form-left-columns {
  text-align: right;
  padding: 0;
}

.row.address-form-row {
  margin-bottom: 1em;
  align-items: center;

  .input-small {
    width: 8em;
  }
}

.select-column {
  padding-left: 0;
}
