.pid-pin-form {
  align-items: center;
  margin-bottom: 1em !important;

  .left-column {
    text-align: end;
  }

  .left-column.pin-column {
    margin-left: 1.2em;
  }

  .input-small {
    width: 12em;
  }

  .no-padding {
    padding: 0 0 0 0.3em;
  }
}
