@import '../../colors.scss';

.filter-icon {
  font-size: 1em;
  margin: 0 0.5em;
}

.input-container {
  position: absolute;
  left: 0;
  top: 2em;
  z-index: 1000;
  min-width: 20em;

  .form-control {
    border-radius: 0;
    border-color: $light-variant-color;
  }
}

.filter-wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  padding: 0 auto;
}
