@import '../../styles.scss';

.table {
  .thead-light {
    .th {
      color: #495057;
      background-color: #e9ecef;
      border-color: $table-color;
    }
  }

  .thead {
    .th {
      vertical-align: bottom;
      border-bottom: 2px solid $table-color;
    }
  }

  .tbody {
    .tr-wrapper {
      border-bottom: 1px solid $table-color;

      .tr {
        &:hover {
          background-color: $table-color;
        }
        .td {
          border: none;
        }
      }
      .tbody {
        padding-left: 50px;
        .tr-wrapper {
          border-bottom: none;
        }
      }
    }
  }

  .table-loading,
  .no-rows-message {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .td,
  .th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid $table-color;

    &.expander {
      display: flex;
      align-items: center;
    }

    &.clickable {
      cursor: pointer;
    }

    .expand-button:focus {
      background: none !important;
    }

    .sortable-column {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;

      :nth-child(2) {
        margin-left: 5px;
      }
    }
  }
}

.table-toolbar {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;

  div {
    .Menu-root {
      margin-right: 30px;
    }
  }
}
