@import '../../styles.scss';
@import '../../colors.scss';
.table {
  .thead-light {
    .th {
      color: #495057;
      background-color: $table-header-color;
      border-color: $table-color;
    }
  }
  .thead {
    .th {
      vertical-align: bottom;
      border-bottom: 2px solid $table-color;
      cursor: pointer;
      font-size: 11px;
    }
  }
  .tbody {
    .tr-wrapper {
      border-bottom: 1px solid $table-color;
      .tr {
        &:hover {
          background-color: $table-color;
        }
        &.selected {
          background-color: $selected-color;
        }
      }
      .tbody {
        padding-left: 50px;
        .tr-wrapper {
          border-bottom: none;
        }
      }
    }
  }
  .table-loading,
  .no-rows-message {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .td,
  .th {
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid $table-color;
    &.svg-btn.expander:hover,
    &.svg-btn.expander:hover svg {
      fill: $accent-color;
    }
    &.svg-btn.reset-filter:hover,
    &.svg-btn.reset-filter:hover svg {
      fill: $accent-color;
    }
    &.expander,
    &.reset-filter {
      display: flex;
      align-items: center;

      &.svg-btn {
        display: block;
      }
    }
    &.clickable {
      cursor: pointer;
    }
    .expand-button:focus {
      background: none !important;
    }
    .sortable-column {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: flex-start;
    }
    .filter-wrapper {
      div {
        div {
          display: flex;
          .form-group {
            width: 100%;
            .rbt {
              width: 100%;
              div {
                input {
                  width: 100% !important;
                }
              }
              .rbt-menu {
                width: 370px !important;
              }
            }
          }
        }
      }

      &.active {
        color: $active-color;
      }
    }
  }
}

.table-toolbar {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  div {
    .Menu-root {
      margin-top: 5px;
      margin-right: 30px;
    }
  }
}
