$table-color: #dee2e6;

.table {
  .thead-light {
    .th {
      color: #495057;
      background-color: #e9ecef;
      border-color: $table-color;
    }
  }

  .thead {
    .th {
      vertical-align: bottom;
      border-bottom: 2px solid $table-color;
    }
  }

  .tbody {
    .tr {
      &:hover {
        background-color: $table-color;
      }
    }
  }

  .table-loading,
  .no-rows-message {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .td,
  .th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid $table-color;

    .sortable-column {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;

      :nth-child(2) {
        margin-left: 5px;
      }
    }
  }
}

.table-toolbar {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;

  div {
    .Menu-root {
      margin-right: 30px;
    }
  }
}
