@import '../../colors.scss';

.tooltip-icon {
  min-width: 14px;
  min-height: 14px;
  color: $secondary-variant-color;
  margin: 0px 2px;
}

.tooltip {
  white-space: pre-wrap;
  .tooltip-inner {
    text-align: left;
    max-width: 25rem;
    background-color: $secondary-variant-color;
    color: #ffffff;
  }
  .arrow:before {
    border-top-color: $secondary-variant-color;
  }
}

.tooltip.show {
  opacity: 1;
}
