.parcelDetailForm {
  text-align: left;
  font-size: 0.75rem;
  font-family: "BCSans" Fallback, sans-serif;
  background-color: #f2f2f2;
  .col-md-6 {
    padding-right: 4rem;
  }
  .evaluationForm, .col-md-6 {
    padding-left: 1rem;
  }
  .form-check {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  .col {
    padding: 0;
  }
  .form-row {
    margin: 0;
    margin-bottom: 1rem;
  }
  .form-group {
    margin-bottom: 0;
  }
  form .row {
    background-color: #fff;
    h2 {
      color: #494949;
      font-size: 20px;
    }
    h3 {
      background-color: #38598a;
      color: #fff;
      font-size: 1rem;
      line-height: 3rem;
      padding-left: 0.75rem;
    }
    h4 {
      color: #003366;
      font-size: 14px;
    }
    h5 {
      padding-left: 1rem;
      display: inline;
    }
    .form-label {
      padding: 0 1rem 0.5rem 0;
    }
    .input-group {
      flex-wrap: nowrap;
    }
    .evaluationForm .input-group.disabled .input-group-prepend .input-group-text {
        border: none;
        background-color: white;
    }
    .input-group-content {
      padding: 0;
      height: 2.5rem;
      width: 100%;
    }
    .input-group-text {
      height: calc(1.5em + .75rem + 2px);
      padding: 2px;
    }
  }
  .btn.btn-primary {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  table {
    .is-valid {
      background-image: none !important;
    }
    td {
      padding: 5px;
    }
    tbody td {
      border-bottom: none;
      border-top: none;
      padding-bottom: 0;
      height: 3.75rem;
    }
    input {
      padding: 3px;
    }
    input:disabled {
      background-color: white;
      border: none;
    }
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
  .date-picker.is-invalid {
    padding-right: 0;
  }
}
