 <html>
    <head>
        <title>{{ Title }}</title>
    </head> 
        <body>
            <p>Dear Administrator,</p>
            <p>{{ AccessRequest.FirstName }} {{ AccessRequest.LastName }} has submitted an access request to <a href={{ Uri }}>PIMS</a>.</p>
            <p>Signin and review their request.</p>
        </body>
</html>