<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <p>Good afternoon,</p>
    <p>This email is to advise that the following properties have been submitted to the Surplus Property Program to be reviewed as surplus by the current holder of the property and is requesting your review:</p>
    <p> Property Inventory Management System - <a href={{ numberLink }}>{{ projectNumberLink }}</a>
    </p>
    <p>
      <ol>
        {% for property in properties %}
          <li> 
            {% if property.type == "Land" %}
           
              {# var appraised = property.Parcel.Evaluations.OrderByDescending(e => e.Date).FirstOrDefault(e => e.Key == EvaluationKeys.Appraised),  #}
              {# var assessed = property.Parcel.Evaluations.OrderByDescending(e => e.Date).FirstOrDefault(e => e.Key == EvaluationKeys.Assessed), #}
              <span> 
                Site Address: {{ property.address }}
                <br> 
                Site Description: {{ property.name }}
                <br> 
                Site Size: {{ property.landArea }} ha
                <br> 
                Zoned: {{ property.zoning }}
                <br> 
                PID: {{ property.pid }}
                <br> 
                Legal: {{ property.legalDescription }}
                <br> 
                Current Holder of the Property: {{ property.agency.name }}
                <br> 
                {# @if(appraised != null && appraised.Value > 0) 
                { 
                  <span> 
                    Appraised Value: @appraised.Value.ToString(C, new CultureInfo(en - US))(@appraised.Date.Year BC Assessment) 
                  </span> 
                } else if (assessed != null && assessed.Value > 0) 
                { 
                  <span> 
                    Assessed Value: @assessed.Value.ToString(C, new CultureInfo(en - US))(@assessed.Date.Year) 
                  </span> 
                }  #}
              </span> 
            {% else %} 
                {# var appraised = property.Building.Evaluations.OrderByDescending(e => e.Date).FirstOrDefault(e => e.Key == EvaluationKeys.Appraised), 
                var assessed = property.Building.Evaluations.OrderByDescending(e => e.Date).FirstOrDefault(e => e.Key == EvaluationKeys.Assessed),
                <span> 
                  Site Address: @property.Building.Address.ToString() 
                  <br> 
                  Site Description: @property.Building.Name
                  <br> 
                  Rentable Area: @property.Building.RentableArea Sq. M
                  <br> 
                  Building Floors: @property.Building.BuildingFloorCount
                  <br> 
                  Predominate Use: @property.Building.BuildingPredominateUse?.Name 
                  <br> 
                  Tenancy: @property.Building.BuildingTenancy
                  <br> 
                  Current Holder of the Property: @property.Building.Agency?.Name 
                  <br> 
                  @if(appraised != null && appraised.Value > 0) 
                  { 
                    <span> 
                      Appraised Value: @appraised.Value.ToString(C, new CultureInfo(en - US))(@appraised.Date.Year BC Assessment) 
                    </span> 
                  } else if (assessed != null && assessed.Value > 0) 
                  { 
                    <span> 
                      Assessed Value: @assessed.Value.ToString(C, new CultureInfo(en - US))(@assessed.Date.Year)
                    </span> 
                  } 
                </span >  #}
               
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </p>
    <p> Thank you.</p>
    <p> Strategic Real Estate Services, Real Property Division</p>
  </body>
</html>
