@import '../../../colors.scss';
.help-box {
  button {
    background-color: white;
    border: none;
    border-bottom: 1px solid $accent-color;
    width: 100%;
    text-align: left;
  }
  :focus {
    outline: none;
  }
  .active:after {
    content: '';
    transform: translateX(100%);
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid black;
    border-right: 8px solid transparent;
  }
}
