@import '../styles.scss';

.App {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  text-align: center;
}

.App-content {
  padding-top: 72px;
  margin-bottom: 46px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  /* for Firefox */
  min-height: 0;
}

.header-layout {
  // colors
  background-color: $primary-color;
  border: none;
  border-bottom: 2px solid $accent-color;

  // sizing
  flex-shrink: 0;
}

.footer-layout {
  // colors
  background-color: $primary-color;
  border: none;
  border-top: 2px solid $accent-color;

  // sizing
  flex-shrink: 0;

  a,
  h2 {
    color: #fff;
  }
}
