{
    storage file_system {
        root /var/www/html
        http_port 2016
        https_port 2015
    }
}

:2015
root * /var/www/html
file_server {
  index maintenance.html
}

log

header / {
  Cache-Control "no-cache, no-store, must-revalidate"
  Pragma "no-cache"
  Expires "0"
}
