@import '../../../variables';
@import '../../../colors.scss';

$narrowSidebarSize: 700px;

.map-side-drawer {
  transition: 1s;
  height: calc(100vh - #{$footer-height} - #{$header-height} - #{$navbar-height});
  overflow: hidden;
  z-index: 999;
  min-width: 930px;
  margin-left: -930px;
  background-color: #fff;
  position: absolute;
  max-width: 930px;
  &.close {
    z-index: -1;
    max-width: $narrowSidebarSize;
  }
  &.narrow {
    min-width: $narrowSidebarSize;
    max-width: $narrowSidebarSize;
  }
  > div {
    padding: 20px;
  }
}
.map-filter-container {
  transition: margin 1s;
}
.map {
  transition: margin 1s, width 1s;
  margin-left: 0px;
  position: relative;
}
.side-bar .map {
  margin-left: 930px;
  width: calc(100vw - 930px);

  &.narrow {
    margin-left: $narrowSidebarSize;
    width: calc(100vw - #{$narrowSidebarSize});
  }
}
.side-bar {
  .map-side-drawer {
    margin-left: 0px;
    .scroll {
      height: calc(100vh - #{$footer-height} - #{$header-height} - #{$navbar-height} - 510px);
      overflow-y: auto;
    }
  }
  .map .leaflet-container {
    height: calc(100vh - #{$header-height} - #{$navbar-height} - #{$footer-height});
  }
  .map-filter-container {
    margin-bottom: -#{$mapfilter-height};
  }
}

.map .leaflet-marker-icon.draft {
  animation: blink 1.25s ease-in infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.parcel-cursor,
.parcel-cursor .map .leaflet-container.leaflet-grab,
.parcel-cursor .map .leaflet-container.leaflet-grab .leaflet-interactive {
  cursor: url('../../../assets/images/pins/marker-icon-1x-green.png') 12.5 41, default;
}

.building-cursor,
.building-cursor .map .leaflet-container.leaflet-grab,
.building-cursor .map .leaflet-container.leaflet-grab .leaflet-interactive {
  cursor: url('../../../assets/images/pins/marker-icon-1x-blue.png') 12.5 41, default;
}

.map .leaflet-marker-icon.leaflet-interactive div,
.map .leaflet-marker-icon.leaflet-interactive span {
  pointer-events: none;
}
