.userInfo {
    width: 40%;
    vertical-align: middle;
    text-align: left;
    display: table;
    
}

.notes {
    padding-bottom: 30px;
}

.isDisabled {
    padding-bottom: 10px;
}

.cancelSave {
    padding-top: 15px;
    padding-bottom: 10px;
}
.navBar {
    font-weight: 700;
    text-align: left;
}

.required
{
    color: red;
    font-weight: 700;
}



