@import '../styles.scss';
@import '../colors.scss';

.unauth {
  font-size: 24px;
  margin: 91px auto;

  .row {
    justify-content: center;
  }

  .block {
    background-color: #f2f2f2;
    padding: 43px 0;
    max-width: 776px;
  }

  h1 {
    padding-bottom: 18px;
    font-family: 'BCSans', Fallback, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: $text-color;
  }

  p {
    font-size: 16px;
    color: $text-color;
    font-family: 'BCSans', Fallback, sans-serif;
    line-height: 130%;
    width: 75%;
  }

  .blockText {
    margin: 0 auto 38px auto;
  }

  .or {
    margin: 20px auto;
  }

  .border-dark {
    border-color: $primary-color !important;
    color: $text-color !important;
  }
}
