@import "../fonts.scss";
@import "../buttons.scss";

.unauth {
  width: 776px;
  font-size: 24px;
  margin: 91px auto;

  .block {
    width: 776px;
    height: 332px;
    background-color: #f2f2f2;
    padding-top: 43px;
  }

  h1 {
    padding-bottom: 18px;
    font-family: 'BCSans' Fallback, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #494949;
  }

  p {
    font-size: 16px;
    color: #494949;
    font-family: 'BCSans' Fallback, sans-serif;
    line-height: 130%;
  }

  .blockText {
    margin: 0 auto 18px auto;
    width: 568px;
    height: 80px;
  }
  
  .or {
    margin: 20px auto;
  }

  .border-dark {
    border-color: #003366 !important;
  }
}
