.submitProperty {
  position: relative;
  width: 100%;
  margin: 0;
  background-color: #f2f2f2;
  height: 0; //force override scrollbar.
  .leaflet-container {
    /* Subtract the header, nav-bar and footer sizes */
    padding-top: 0;
    min-height: calc(100vh - 70px - 45px - 42px);
  }
  .title-bar {
    display: flex;
    flex-direction: row;
  }
  .sideMap {
    display: relative;
    padding: 0;
  }
  .form {
    background-color: #f2f2f2;
    padding: 1rem 3rem;
    max-height: calc(100vh - 70px - 45px - 42px);
    overflow-y: scroll;
  }
}
