@import '../../../colors.scss';

.elipsis-dropdown {
  .elipsis-primary {
    margin: 5px;
    background-color: white;
    border: 0;
  }
  .dropdown-toggle:after {
    display: none;
  }
  .dropdown-menu.show {
    transform: translate(-132px, 0px) !important;
    padding: 0;
  }
  .dropdown-item {
    color: black;
  }
  .dropdown-item.disabled {
    color: #6c757d;
  }
  .dropdown-item:hover {
    background-color: $accent-color;
  }
  .dropdown-item.danger:hover {
    background-color: $danger-color;
  }
}
