@import '../../../variables';
@import '../../../colors.scss';
.spl-reports {
  .row {
    flex-wrap: nowrap;
  }

  .side-bar.side-bar-show {
    transform: translateX(0);
    width: 300px;
  }

  div.active.row {
    background-color: $accent-color;
  }

  .report-content {
    height: calc(100vh - #{$footer-height} - #{$header-height} - #{$navbar-height});
  }

  .side-bar {
    transition: 0.3s ease-in-out;
    width: 300px;
    grid-template-columns: 275px 25px;
    height: calc(100vh - #{$footer-height} - #{$header-height} - #{$navbar-height});
    position: fixed;
    z-index: 5;
    top: $header-height + $navbar-height;
    left: 0;
    background-color: $table-header-color;
    display: grid;

    > button {
      border: none;
      background-color: rgba(0, 0, 0, 0.1);
      svg {
        width: 16px;
        height: 16px;
        pointer-events: none;
      }
    }
    :focus {
      outline: 1px dotted;
    }
  }

  .report-form {
    grid-template-columns: 275px auto;
    display: grid;
  }

  .add-spl {
    background-color: $table-header-color;
    min-width: 275px;
    max-width: 275px;
    padding: 0.5rem;
  }

  .tbody > .tr-wrapper:nth-child(even) {
    background-color: whitesmoke;
  }

  .tbody > .tr-wrapper:nth-child(odd) {
    background-color: white;
  }

  .tbody {
    max-height: calc(100vh - #{$footer-height} - #{$header-height} - #{$navbar-height} - 110px);
    overflow-y: auto;
  }

  .close {
    transform: translateX(-275px);
  }

  .form-group {
    height: 2.5rem;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
    padding-right: 1rem;
    label {
      white-space: nowrap;
      padding-right: 0.5rem;
      margin-bottom: 0;
    }
  }

  @media (max-width: 1400px) {
    .table .tbody .td {
      font-size: 10px;
      padding: 5px;
    }
  }

  @media (max-width: 1200px) {
    .table .tr .td:nth-child(8),
    .table .tr .th:nth-child(8),
    .table .tr .td:nth-child(9),
    .table .tr .th:nth-child(9) {
      display: none !important;
    }
  }

  @media (max-width: 1000px) {
    .table .tr .td:nth-child(10),
    .table .tr .th:nth-child(10),
    .table .tr .td:nth-child(11),
    .table .tr .th:nth-child(11) {
      display: none !important;
    }
    .table .tr {
      min-width: 500px !important;
    }
  }
}
