$header-height: 72px;
$footer-height: 46px;
$navbar-height: 45px;
$filter-height: 76px;
$contentheading-height: 60px;

.ProjectListView {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  padding: 0;

  .filter-container {
    padding: 0;
    background-color: var(--light);
    .search-bar {
      justify-content: center;
      .bar-item {
        .form-group {
          padding: 0;
          margin: 0;
        }
      }

      .btn-warning {
        color: white;
        font-weight: bold;
      }

      .form-control {
        border-radius: 0;
      }
    }
  }

  .TableToolbar {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding-bottom: 1rem;
  }

  .ScrollContainer {
    padding: 1rem 2rem;
    max-height: calc(
      100vh - #{$header-height} - #{$navbar-height} - #{$filter-height} - #{$footer-height}
    );
    overflow-y: scroll;

    table {
      background-color: #fff;
    }
  }
}
