@import '../../../colors.scss';

.container-style {
  background-color: #fff;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.form-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 1rm;
}
.form-content {
  border-top: 1px solid #666666;
  width: 100%;
  min-height: 100px;
}
.form-footer {
  display: flex;
  width: 100%;
  height: 5rem;
  padding-left: 1rem;
  align-items: center;
  position: sticky;
  background-color: $filter-background-color;
  bottom: 0rem; // this keeps the inventory policy in view along the bottom
  border-top: 0.25rem solid white;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
