.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;

  &.btn {
    height: auto;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }

  &--disabled {
    background-color: #fafbfc;
    color: #959da5;
    border-color: rgba(27, 31, 35, 0.15);
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
  }

  &--icon-only {
    .Button__icon {
      margin-right: 0;
    }
  }

  &__icon {
    margin-right: 16px;
  }
}
