@import '../../../colors.scss';
.check-field {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 5px;
  .form-check {
    margin: 0px 5px;
  }
}
.required.form-group {
  .check-field {
    label {
      border-bottom: 1px solid $secondary-variant-color;
    }
  }
}
