// Form Controls
$fc-height: 2.75rem;
$fc-border-color: #ccc;
$fc-bg: #fff;
$fc-inner-shadow: 0.1rem 0.1rem 0.1rem #eee;
$fc-placeholder-color: #999;
$fc-focus-border-color: #5091cd;
$fc-invalid-color: #d8292f;
$fc-invalid-bg: #f2f2f2;
// --- VALIDATION ---
.form-group.required {
  & .control-label {
    &::after {
      content: ' *';
      color: $fc-invalid-color;
      font-weight: 700;
    }
  }
  &.horizontal {
    display: flex;
    :last-child {
      margin-left: 5px;
    }
  }
}

.error-states {
  color: $fc-invalid-color;
}

.input-number {
  text-align: right;
}
