@import '../../../styles.scss';

.sppButton {
  .btn {
    height: 37px;
    width: 37px;
  }
}
.sppTooltip {
  pointer-events: all;
  .tooltip-inner {
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: left;
    .row {
      padding: 5px;
      &:hover {
        background-color: $accent-color;
      }
      margin-bottom: 10px;
      cursor: pointer;
      .marker {
        img {
          height: 32px;
        }
      }
      .label {
        padding-left: 0;
        display: flex;
        align-items: center;
      }
    }
  }
  .arrow::before {
    border-bottom-color: white !important;
    box-shadow: 2px grey;
  }
}
