@import './colors.scss';
.error {
  color: $danger-color;
}

ul.pagination li {
  cursor: pointer;
}

.modal-dialog.modal-xl {
  max-width: 1000px;
}

.modal-dialog.modal-l {
  max-width: 750px;
}

.modal-dialog.modal-m {
  max-width: 500px;
}

.modal-dialog.modal-s {
  max-width: 400px;
}

.Toastify__toast.Toastify__toast--dark {
  color: #fff;
  background-color: $secondary-variant-color;
}

.Toastify__toast.Toastify__toast--warning {
  color: $text-color;
  background-color: $light-accent-color;
}

.Toastify__toast.Toastify__toast--error {
  color: #fff;
  background-color: $danger-color;
}

.tooltip {
  pointer-events: none;
}

//React table global styling
.table .tr .td {
  word-break: break-word;
}

.table .th.reset-filter.svg-btn {
  display: none;
}

select.form-control.is-invalid {
  background-image: none;
  padding-right: 12px;
}

//by default highlight required fields in blue.
.form-group.required input:not(.is-invalid) {
  border: 1px solid $secondary-variant-color;
}

.form-group.required select:not(.is-invalid) {
  border: 1px solid $secondary-variant-color;
}

.input-group.required input:not(.is-invalid) {
  border: 1px solid $secondary-variant-color;
}

.form-check.required input:not(.is-invalid) {
  border: 1px solid $secondary-variant-color;
}

.form-group.required textarea:not(.is-invalid) {
  border: 1px solid $secondary-variant-color;
}

//by default, highlight dropdown options blue
.dropdown-item,
.dropdown-header {
  color: $text-color;
  &:hover {
    color: #fff;
    background-color: $active-color;
  }
}
