.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-content {
  padding-top: 70px;
  margin-bottom: 42px;
}

.error {
  color: red;
}

ul.pagination li {
  cursor: pointer;
}