.btn {
  height: 44px;
}

.btn.btn-warning {
  width: 130px;
}

.btn:hover {
  text-decoration: underline;
}

.btn:hover {
  text-decoration: underline;
}:disabled {
  text-decoration: none;
}

.btn.btn-primary {
  background-color: #003366;
  font-family: "BCSans" Fallback, sans-serif;
  text-decoration: none solid rgb(255, 255, 255);
  color: #ffffff;
  font-size: 16px;
  border-color: transparent;
  border-radius: 0;
}

.btn:hover {
  opacity: 0.8;
}
.btn:disabled,.btn:hover:disabled {
  opacity: .65;
  cursor: unset;
}

.btn.btn-secondary {
  background-color: #ffffff;
  font-family: "BCSans" Fallback, sans-serif;
  text-decoration: none solid rgb(255, 255, 255);
  color: #494949;
  font-size: 16px;
}

.btn.btn-secondary:hover {
  background-color: #ffffff;
  color: #494949;
}

.btn.btn-light {
  background-color: #606060;
  font-family: "BCSans" Fallback, sans-serif;
  text-decoration: none solid rgb(255, 255, 255);
  color: #fff;
  font-size: 16px;
  border-radius: 0;
}

.btn.btn-light:hover {
  background-color: #606060;
  color: #fff;
}

.btn.btn-light:disabled {
  background-color: #606060;
  color: #fff;
}

.btn:focus,
.btn:active,
.btn.active {
  background-color: #3b99fc !important;
}

