@import './colors.scss';

.btn {
  height: 44px;
}

.btn.btn-warning {
  width: 130px;
}

.btn:hover {
  text-decoration: underline;
}

.btn:hover {
  text-decoration: underline;
}
:disabled {
  text-decoration: none;
}

.btn.btn-primary {
  background-color: $primary-color;
  font-family: 'BCSans', Fallback, sans-serif;
  text-decoration: none solid rgb(255, 255, 255);
  color: #ffffff;
  font-size: 16px;
  border-color: transparent;
  border-radius: 0;
}

.btn:hover {
  opacity: 0.8;
}
.btn:disabled,
.btn:hover:disabled {
  opacity: 0.65;
  cursor: unset;
}

.btn.btn-secondary {
  border: 2px solid #428bca;
  background-color: #ffffff;
  font-family: 'BCSans', Fallback, sans-serif;
  font-size: 16px;
  color: #428bca;
  text-decoration: none solid rgb(66, 139, 202);
  text-align: center;
  border-radius: 0;
}

.btn.btn-secondary:hover {
  background-color: #ffffff;
  color: #494949;
}

.btn.btn-light {
  background-color: #606060;
  font-family: 'BCSans', Fallback, sans-serif;
  text-decoration: none solid rgb(255, 255, 255);
  color: #fff;
  font-size: 16px;
  border-radius: 0;
}

.btn.btn-light:hover {
  background-color: #606060;
  color: #fff;
}

.btn.btn-light:disabled {
  background-color: #606060;
  color: #fff;
}

.btn.btn-dark {
  color: #fff;
  background-color: #121212;
  vertical-align: middle;
  height: 24px;
  padding: 1px;
  svg {
    vertical-align: baseline;
  }
}

.btn.btn-danger {
  background-color: #d8292f;
  font-family: 'BCSans', Fallback, sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  border-radius: 0;
}

.btn.btn-danger:hover {
  background-color: #d8292f;
  color: #ffffff;
}

.btn:focus,
.btn:active,
.btn.active {
  background-color: #3b99fc !important;
}
