@import './colors.scss';

.svg {
  fill: none;
  stroke: $text-color;
}

.svg-btn {
  color: $text-color;
}

.svg-btn:hover {
  color: $icon-light-color;
  text-decoration: none;
  cursor: pointer;
}

.svg-btn:hover svg {
  fill: $icon-light-color;
  stroke: #fff;
}

.svg-btn.active {
  color: $icon-light-color;
  border-bottom-style: solid;
  border-bottom-color: $accent-color;
  border-bottom-width: 1px;
  background-color: transparent !important;
}

.svg-btn.active svg {
  fill: $icon-light-color;
  stroke: #fff;
}

.btn {
  min-height: 44px;
}

.btn:hover {
  text-decoration: underline;
}

.btn:hover {
  text-decoration: underline;
}
:disabled {
  text-decoration: none;
}

.btn.btn-primary {
  background-color: $primary-color;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn.btn-primary:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.btn:disabled,
.btn:hover:disabled {
  color: #959da5;
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  user-select: none;
  pointer-events: none;
  cursor: not-allowed;
}

.btn.btn.btn-secondary {
  background: none;
  border-radius: 4px;
  border: 1px solid $primary-color;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  color: $primary-color;
}

.btn.btn-secondary:hover {
  opacity: 0.8;
  text-decoration: underline;
  background-color: $primary-color;
  color: #ffffff;
}

.btn.btn-secondary.Button--disabled .Button__value {
  color: $secondary-variant-color;
}

.btn.btn-info {
  color: #909090;
  background-color: $filter-background-color;
  border: none;
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
}

.btn.btn.btn-info:hover {
  color: $sres-icon-color;
}
.btn.btn.btn-info:focus {
  color: $sres-icon-color;
}

.btn.btn-light {
  background-color: $light-variant-color;
  font-family: 'BCSans', Fallback, sans-serif;
  text-decoration: none solid rgb(255, 255, 255);
  color: #fff;
  font-size: 16px;
  border-radius: 0;
}

.btn.btn-light:hover {
  background-color: $light-variant-color;
  color: #fff;
}

.btn.btn-light:disabled {
  background-color: $light-variant-color;
  color: #fff;
}

.btn.btn-dark {
  color: #fff;
  background-color: $dark-variant-color;
  vertical-align: middle;
  height: 24px;
  padding: 1px;
  svg {
    vertical-align: baseline;
  }
}

.btn.btn-danger {
  background-color: $danger-color;
  border: none;
  border-radius: 4px;
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn.btn-danger:hover {
  background-color: $danger-color;
  color: #ffffff;
}

.btn.btn.btn-warning {
  background-color: $accent-color;
  border: 1px solid $accent-color;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn:focus,
.btn:active,
.btn.active {
  background-color: $icon-light-color !important;
}
