$primary-color: #003366;
$primary-light-color: #38598a;
$secondary-variant-color: #428bca;
$light-variant-color: #606060;
$dark-variant-color: #121212;
$text-color: #494949;
$form-background-color: #d9d9d9;
$dropdown-background-color: #32507c;
$accent-color: #fcba19;
$light-accent-color: #fcd573;
$table-color: #dee2e6;
$table-header-color: #e9ecef;
$sres-icon-color: #172b4d;
$danger-color: #d8292f;
$light-danger-color: #fae1e7;
$icon-light-color: #3b99fc;
$active-color: #007bff;
$completed-color: #2e8540;
$filter-background-color: #f2f2f2;
$slide-out-blue: #1a5a96;
$selected-color: #dff0d8;
