@import 'colors.scss';
@import '@bcgov/bc-sans/css/BCSans.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//by default, invalid fields are outlined in red
.form-row .form-control.is-invalid {
  background-image: none;
  border-color: $danger-color;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  input {
    width: 100%;
  }
}

.form-control-lg {
  font-size: 1em;
}
