@import './colors.scss';

.nav-tabs .nav-item.nav-link {
  background-color: $primary-color;
  color: white;
  font-size: 14px;
  padding: 0.5rem 2rem;
  border: none;
  border: 1px solid white;
}

.nav-tabs .nav-item.nav-link.active {
  background-color: $secondary-variant-color;
}

.nav-tabs .nav-item.nav-link.tabError {
  background-color: $danger-color;
}
.nav-tabs .nav-item.nav-link.tabError.active {
  background-color: #fa666b;
}

.tab-content {
  border: 0;
  border-top: 1px solid white;
  padding: 0;
}
