@import '../../../../colors.scss';

.hideTabs {
  li.nav-item {
    // this gets over written by src/tabs.scss
    background-color: black;
    display: none;
  }
}
.tab-content {
  // this gets over written by src/tabs.scss
  border: 0;
  border-top: 1px solid #666666;
  padding: 0;
}
.nav-tabs {
  .nav-item {
    // formatting tabs
    background-color: white;
    display: inline-flex;
    position: relative;
    color: black;
    p {
      color: black;
      margin-bottom: 0;
    }
    abbr {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    svg {
      // icon formatting
      color: black;
      position: absolute;
      top: 0.1em;
      right: 0.5em;
      visibility: hidden;
    }
    .active {
      // selected tab
      svg {
        background-color: $secondary-variant-color;
        color: white;
        visibility: visible;
      }
      .last-child {
        padding: 0;
        svg {
          position: relative;
          color: white;
        }
      }
    }
    .btn:disabled {
      background-color: $primary-color;
      cursor: default;
    }
  }
}
.tab-line-header {
  // Form header formatting
  float: left;
  margin-right: 2em;
  font-size: large;
  font-weight: bold;
}
