@import '../../../../colors.scss';

.hideTabs {
  li.nav-item {
    // this gets over written by src/tabs.scss
    background-color: black;
    display: none;
  }
}
.tab-content {
  // this gets over written by src/tabs.scss
  border: 0;
  border-top: 1px solid #666666;
  padding: 0;
}
.nav-tabs {
  .nav-item {
    // formatting tabs
    background-color: white;
    display: inline-flex;
    position: relative;
    svg {
      // icon formatting
      color: black;
      position: absolute;
      top: .1em;
      right: .5em;
    }
    .active {
      // selected tab
      color: $slide-out-blue;
      svg {
        background-color: $secondary-variant-color;
        color: white;
      }
      .last-child {
        padding: 0;
        svg {
          position: relative;
          color: white;
        }
      }
    }
    .btn:disabled {
      background-color: $primary-color;
      cursor: default;
    }
  }
}
.tab-line-header {
  // Form header formatting
  float: left; 
  margin-right: 2em;
  font-size: large;
  font-weight: bold;
}
