.Access-Requests-filter {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  .filters {
    .col {
      display: flex;
      align-items: left;

      &.actions {
        :first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
