@import 'LandReviewPage.scss';
@import '../../../../colors.scss';

.review-section {
  .parcel-header > .col {
    color: white;
    background-color: $light-variant-color;
    display: inline-flex;
    justify-content: space-between;
    border-radius: 5px;
  }

  .parcel-content {
    padding: 0px;
  }

  .parcel-pane {
    border: 1px solid $light-variant-color;
    border-radius: 5px;
    margin-bottom: 20px;
  }
}
