.identification {
  .container {
    h4 {
      margin-bottom: 20px;
    }
    width: 900px;
    .form-label,
    .label {
      display: inline-block;
      width: 140px;
      text-align: right;
      margin-right: 10px;
    }
    .form-control {
      width: 250px;
    }
    .harmful {
      background-color: #fae1e7;
      width: 400px;
      border-radius: 5px;
    }
    .lat-long {
      text-align: left;
      padding: 10px;
      background-color: #e9ecef;
      border-radius: 5px;
    }
  }
}
