@import '../../../../colors.scss';
.identification {
  .req {
    color: $danger-color;
    font-weight: bold;
  }
  .row {
    padding-bottom: 10px;
  }
  .container {
    .suggestionList {
      margin-top: 40px;
      margin-left: 50px;
    }
    h4 {
      margin-bottom: 20px;
    }
    .harmful {
      padding: 10px;
      margin: 2em auto 0 auto;
      width: 450px;
      background-color: $light-danger-color;
      border-radius: 5px;
      .invalid-feedback {
        display: block;
        font-size: 16px;
      }
      p {
        margin-bottom: 0;
      }
    }
    .lat-long {
      width: 400px;
      .marker-svg {
        margin-top: 20px;
      }
      .form-group {
        .form-control {
          width: 200px;
        }
      }
      text-align: left;
      padding: 15px;
      background-color: $table-header-color;
      border-radius: 5px;
    }
    .left-column {
      text-align: right;
      align-items: center;
    }
    .project-numbers {
      flex-direction: column;
      display: flex;
      background: red;
    }
  }
}
