@import '../../../../colors.scss';

.parcel-usage {
  max-width: 900px;
  .classification {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: $table-header-color;
    border-radius: 5px;
    .form-group {
      padding-top: 10px;
      width: 250px;
    }
    .label {
      display: inline-block;
      text-align: right;
      width: 150px;
      padding-top: 10px;
    }
  }
  .label {
    width: 140px;
    padding: 10px;
  }
  .field-row .form-group {
    width: 250px;
    max-width: 250px;
  }
  .form-control {
    width: 250px;
  }
}
