@import '../../../../colors.scss';

.review-section {
  .row,
  .form-row,
  .col,
  [class*='col-'] {
    margin: 0px;
    padding: 0px;
  }
  .form-group.col {
    flex-grow: 1;
    flex-basis: 0;
  }
  .input-group-text {
    font-size: small;
  }
  .tenancy .input-group .input-group-append {
    height: 30px;
  }
  .parcel-content {
    padding: 10px;
  }
  .field-row,
  .form-row,
  .content-item,
  .val-row,
  .val-item,
  .postal {
    &.resizable {
      height: auto;
    }
    height: 30px;
    line-height: 30px;
  }
  .content-item .label:after,
  .field-row .label:after,
  .form-row .label:after,
  .postal .label:after,
  .val-row .label:after,
  .val-item .label:after {
    border-right: 1px solid #666666;
    padding: 15px 20px 15px 0px;
    display: inline-flex;
    content: '';
  }
  div.invalid-feedback {
    display: none;
  }
  .check-item {
    line-height: 30px;
  }
  .harmful {
    justify-content: center;
  }
  .form-control {
    background-image: unset;
  }
  .form-group .form-control:disabled {
    font-weight: bold;
    border: none;
    background-color: transparent;
    resize: none;
    appearance: none;
  }
  .append-disabled {
    border: none;
    background-color: transparent;
  }
  max-width: 900px;
  .review-steps {
    text-align: left;
  }
  .valuation,
  .identification,
  .usage,
  .tenancy,
  .associated-buildings,
  .associated-land,
  .PropertyListView.container-fluid {
    margin: 10px;
    width: 100%;
    padding: 20px;
    background-color: $filter-background-color;
    border-radius: 10px;
    font-size: small;
    .form-control,
    .GeocoderAutoComplete,
    .AutoCompleteText,
    .input-group,
    .form-control {
      width: 200px;
      height: 30px;
      font-size: small;
      padding: 0;
      text-align: left;
    }
    .input-group {
      .form-control {
        width: 100px;
      }
    }
    .label {
      width: 150px;
      text-align: right;
      margin-right: 20px;
    }
  }
  .tenancy-fields {
    display: flex;
    max-width: 200px;
    .form-control {
      width: 100px;
    }
    .react-datepicker-wrapper {
      max-width: fit-content;
      & :disabled {
        padding: 0px 5px;
      }
    }
  }
  .valuation .form-group {
    input {
      width: 100%;
    }
    width: 100px;
    max-width: 100px;
  }
  .section-header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    span {
      display: inline-flex;
    }
    .svg {
      margin-right: 5px;
    }
  }
  .edit {
    cursor: pointer;
    color: $slide-out-blue;
  }
}
