@import '../../../../colors.scss';

.parcel-identification {
  max-width: 900px;
  .GeocoderAutoComplete,
  .AutoCompleteText {
    width: 230px;
  }
  .form-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  h4 {
    margin-bottom: 20px;
    float: left;
  }
  .container {
    .form-check-input {
      position: relative;
      width: auto;
      margin: 0px 10px;
    }
    .check-field {
      margin: auto;
    }
    .section.disabled {
      pointer-events: none;
      opacity: 0.4;
    }
    .label {
      text-align: right;
      margin-right: 10px;
      width: 125px;
    }
    .harmful {
      margin: 0px auto;
      width: 400px;
      background-color: $light-danger-color;
      border-radius: 5px;
      .form-group {
        width: 100%;
      }
    }
    .section {
      padding: 10px 0px;
      background-color: #f2f2f2;
      border: 1px solid $light-variant-color;
      border-radius: 5px;
      margin-bottom: 20px;
      h5 {
        font-weight: 700;
        padding-bottom: 20px;
      }
      .instruction {
        text-align: left;
        padding: 0 25px 25px;
        .marker-svg {
          display: flex;
          justify-content: center;
        }
      }
      .form-row {
        display: flex;
        padding: 0px 20px;
        > input,
        .input-group,
        textarea {
          width: 230px;
        }
      }
      .pid-pin {
        .form-control {
          width: 140px;
        }
      }
    }
  }
}
