@import '../../../../colors.scss';

.parcel-identification {
  max-width: 900px;
  .suggestionList {
    margin-top: 40px;
    margin-left: 50px;
  }
  .GeocoderAutoComplete,
  .AutoCompleteText {
    width: 230px;
    align-items: center;
  }
  .form-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  h4 {
    margin-bottom: 20px;
    float: left;
  }
  .bg-warning {
    height: 38px;
  }
  .container {
    .header-row {
      text-align: left;
    }
    .form-check-input {
      width: 15px;
    }
    .check-field {
      margin: auto;
    }
    .section.disabled {
      pointer-events: none;
      opacity: 0.4;
    }
    .harmful {
      margin: 0px auto;
      width: 400px;
      background-color: $light-danger-color;
      border-radius: 5px;
      .form-group {
        width: 100%;
      }
      .invalid-feedback {
        display: block;
        font-size: 16px;
      }
      p {
        margin-bottom: 0.25em;
      }
    }
    .section {
      padding: 10px 0px;
      background-color: $filter-background-color;
      border: 1px solid $light-variant-color;
      border-radius: 5px;
      margin: 20px 0px;
      h5 {
        font-weight: 700;
        padding-bottom: 20px;
      }
      .instruction {
        text-align: left;
        padding: 0 25px 25px;
        .marker-svg {
          display: flex;
          justify-content: center;
        }
        p {
          text-align: center;
        }
      }
      .form-group {
        margin-bottom: 0px;
      }

      .form-row {
        align-items: center;
        margin-bottom: 1em;
        .col {
          padding: 0 1em;
        }
        .left-column {
          text-align: right;
          align-items: center;
          padding: 0;
        }
        .right-column {
          padding: 0 0.75em;
        }
        .input-width {
          width: 15em;
        }
        .input-small {
          width: 7.5em;
        }
      }
    }
  }
  .project-numbers {
    flex-direction: column;
    display: flex;
  }
}
