@import '../../../../colors.scss';

.tenancy {
  .type-occupant {
    width: 300px;
  }
  h4 {
    margin-bottom: 20px;
  }
  margin-top: 10px;
  .input-group {
    width: 200px;
    .input-group-content {
      .form-control {
        width: 120px;
      }
    }
    .input-group-append {
      height: 38px;
    }
  }
  .percentage {
    width: 120px;
  }
  .react-datepicker-wrapper {
    width: 150px;
  }
  .label {
    text-align: right;
    width: 100px;
    clear: both;
    float: left;
    margin-right: 15px;
  }
  .classification {
    padding-top: 10px;
    background-color: $table-header-color;
    border-radius: 10px;
  }
  .check-field {
    margin-top: 5px;
  }
}
