@import '../../../../colors.scss';

.val-table {
  .table {
    .form-group.col {
      padding: 0px 20px;
    }
    align-content: center;
    &.netbook {
      width: 600px;
      .tbody {
        max-height: 200px;
        overflow-y: auto;
        margin-right: -20px;
      }
    }
    &.assessed {
      width: 600px;
    }
    &.assessedLand {
      .tbody {
        max-height: 150px;
        overflow-y: auto;
        margin-right: -20px;
      }
      width: 520px;
    }
    .form-group {
      margin-bottom: 0;
    }
    .thead :first-child .th {
      justify-content: flex-start !important;
    }
    .td,
    .th {
      border: 2px solid $table-color;
      justify-content: center !important;
      font-size: 18px !important;
    }
    //the first subheader should not be bold
    .thead :nth-child(2) .th:first-child {
      font-weight: normal;
    }
  }
}
