@import '../../../../colors.scss';

@mixin toolbar-button($color, $marginRight: 2px) {
  a {
    background-color: $color;
    border: none;
    border-radius: 4px 4px 4px 4px !important;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    margin-right: $marginRight;
  }
}

.leaflet-draw-actions {
  li {
    &:first-child {
      @include toolbar-button($accent-color);
    }
    &:last-child {
      @include toolbar-button($primary-color);
    }
    &:nth-child(2) {
      @include toolbar-button($secondary-variant-color);
    }
  }
}
