@import '../../../styles.scss';
@import '../../../colors.scss';
nav.map-nav {
  width: 100%;
  font-family: 'BCSans', Fallback, sans-serif;
  white-space: nowrap;
  padding: 0;
  margin: 0 -1.5rem;
  .navbar-toggler {
    font-size: 0.8rem;
    border-color: #ddd;
    color: #ddd;
    margin-left: 2.5rem;
  }
  .navbar-nav {
    margin-left: 20px;
    .home-button {
      color: white;
      cursor: pointer;
      padding-top: 10px;
      height: 30px;
      width: 30px;
    }
    .active {
      background-color: $secondary-variant-color !important;
    }
    .nav-item {
      height: 100%;
    }
    .nav-link {
      font-size: 14px;
      color: #fff;
      padding: 0.75rem 2.5rem;
    }
    .dropdown {
      background-color: transparent;
      &.show {
        background-color: $dropdown-background-color;
      }
      .dropdown-menu {
        width: 100%;
        border-radius: 0;
        line-height: 0;
        background-color: #fff;
        padding: 0;
        border-top: 0;
        margin-top: 0;
        a.dropdown-item {
          color: $primary-color;
          font-size: 14px;
          line-height: 2.25rem;
          &:hover {
            background-color: $accent-color;
          }
        }
        .active {
          background-color: $primary-light-color;
        }
      }
    }
  }
  // mobile (small) view
  .navbar-collapse {
    &.show {
      & + .profile {
        flex-grow: 1;
        flex-basis: 100%;
        justify-content: center;
      }
    }
  }
}
