@import '../../../fonts.scss';
nav.map-nav {
  width: 100%;
  font-family: 'BCSans' Fallback, sans-serif;
  white-space: nowrap;
  padding: 0;
  margin: 0 -1.5rem;

  .navbar-toggler {
    font-size: 0.8rem;
    border-color: #ddd;
    color: #ddd;
  }

  .navbar-nav {
    .nav-item {
      height: 100%;
    }
    .nav-link {
      font-size: 14px;
      color: #fff;
      padding: 0.5rem 2rem;
    }

    .dropdown {
      background-color: transparent;

      &.show {
        background-color: #32507c;
      }

      .dropdown-menu {
        width: 100%;
        border-radius: 0;
        line-height: 0;
        background-color: #fff;
        padding: 0;
        border-top: 0;
        margin-top: 0;

        a.dropdown-item {
          color: #003366;
          font-size: 14px;
          line-height: 2.25rem;
          &:hover {
            background-color: #fcba19;
          }
        }

        .active {
          background-color: #38598a;
        }
      }
    }

    &.profile {
      .profile-icon {
        color: #fff;
        img {
          width: 29px;
          height: 29px;
        }
      }
      .nav-link {
        padding-left: 0.5rem;
      }
    }
  }
}
