@import '../../../styles.scss';
.GeocoderAutoComplete {
  width: 250px;
  font-size: 1rem;
  position: relative;
}

.GeocoderAutoComplete form.Control {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  flex: 1 1;
  min-width: 0;
  margin-bottom: 0;
}

.suggestionList {
  background-color: white;
  border-style: solid;
  border-color: lightslategray;
  border-width: thin;
  font-size: 14px;
  text-align: left;
  max-height: 600px;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow-y: auto;
  z-index: 999;
  top: 0px;
  left: -50px;
}

.GeocoderAutoComplete option {
  padding: 10px 5px;
  word-wrap: break-word;
  width: 400px;
  overflow: hidden;
  cursor: pointer;
  color: $text-color;

  &:hover {
    background-color: $active-color;
    color: #fff;
  }
}
