# Environment variables
.env
connectionstrings.*json
.vscode/settings.json

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
TestResults/

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/x64/
**/x86/
**/build/
**/bld/
**/[Bb]in/
**/[Oo]bj/
**/[Oo]ut/
**/msbuild.log
**/msbuild.err
**/msbuild.wrn

# Visual Studio 2015
.vs/

# SonarQube
.sonarqube/

# NET Core Healthchecks UI
healthchecksdb
healthchecksdb-shm
healthchecksdb-wal
