@import "../../fonts.scss";

.App-header.navbar {
  background-color: #036;
  border-bottom: 2px solid #fcba19;
  color: #fff;
  padding: 0px;
  min-height: 70px;
  .longAppName {
    @media  (max-width: 70rem) {
      display: none;
    }
  }
  .shortAppName {
    @media not all and (max-width: 70rem) {
      display: none;
    }
  }

  .bar {
    margin: 0px;
    padding: 0px;
    flex-direction: column;

    .brand {
      min-width: 156px;
    }

    .brand-box {
      padding-top: 10px;
    }

    .title h1 {
      @media (min-width: 992px) {
        text-align: left;
        padding-left: 40px;
      }
      margin-top: 10px;
      text-align: center;
      font-size: 24px;
      color: #ffffff;
      text-decoration: none solid rgb(255, 255, 255);
      font-family: "BCSans" Fallback, sans-serif;
      font-weight: 700;
      white-space: normal;
    }

    .exit {
      width: 68px;
      height: 100%;
      padding-bottom: 2px;
      background-color: #38598a;
      text-align: center;
      :hover {
        cursor: pointer;
      }
      p {
        padding-left: 3px;
        font-family: Arial;
        font-size: 16px;
        color: #ffffff;
        text-decoration: none solid rgb(255, 255, 255);
      }
    }

    .other {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding: 0;
      .errors {
        margin-right: 10px;
      }:hover {
        color: red;
        cursor: pointer;
      }
    }
  }
  .col {
    padding: 0;
  }
  .row {
    width: 100%;
    margin: 0px;
  }
}
.modal-content .label {
  font-weight: 700;
}
