.bar {
  padding: 5px;
  background-color: #036;
  border-bottom: 2px solid #fcba19;
  color: #fff;
  height: 70px;
  top: 0px;
  width: 100%;
  white-space: nowrap;

  h1 {
    font-family: Arial;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    font-family: "BCSans" Fallback, sans-serif;
    font-weight: 700;
    overflow: hidden;
  }

  a {
    width: 30%;
    text-align: right;
    padding-right: 27px; 
  }

  .title {
    margin-top: 15px;
    width: 70%;
    text-align: left;
  }

  h2 {
    margin-top: 15px;
    padding-right: 20px;
    font-family: Arial;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    overflow: hidden;
  }

  .banner {
    display: inline-flex;
    width: 100%;
    /* border-style: dotted;
    border-width: 1px;
    border-color: lightgrey; */
  }

  .exit {
    height: 68px;
    width: 70px;
    flex-flow: column;
    align-items: center;
    background-color: #38598a;
    :hover {
      cursor: pointer;
    }
  }

  p {
    width: 49px;
    height: 18px;
    font-family: Arial;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
  }

  .other {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    /* border-style: dotted;
    border-width: 1px;
    border-color: lightgrey; */
  }

  p {
    padding-right: 50px;
    margin: 0;
  }

  #user-list-dropdown {
    width: 240px;
    height: 64px;
    margin-right: 16px;
    background-color: #fcba19;
    font-family: Arial;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: left;
    overflow: visible;
  }
}
