.bar {
  background-color: #036;
  border-bottom: 2px solid #fcba19;
  color: #fff;
  height: 70px;
  top: 0px;
  width: 100%;
  white-space: nowrap;
  display: inline-flex;

  h1 {
    font-family: Arial;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    font-family: "BCSans" Fallback, sans-serif;
    font-weight: 700;
    overflow: hidden;
    justify-content: center;
  }

  .bc-gov-icon {
    padding-top: 5px;
    width: 30%;
    text-align: right;
    padding-right: 27px; 
  }

  .title {
    margin-top: 20px;
    width: 70%;
    text-align: left;
  }

  .banner {
    width: 100%;
    display: inline-flex;
  }

  .exit {
    height: 68px;
    width: 68px;
    background-color: #38598a;
    text-align: center;
    :hover {
      cursor: pointer;
    }
    p {
      padding-left: 3px;
      font-family: Arial;
      font-size: 16px;
      color: #ffffff;
      text-decoration: none solid rgb(255, 255, 255);
    }
  }

  .other {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    /* border-style: dotted;
    border-width: 1px;
    border-color: lightgrey; */
  }
}
