@import '../../../../colors.scss';
.SelectProjectProperties {
  display: flex;
  flex-direction: column;
  .small-filter {
    .btn-link:focus,
    .btn-link:active {
      background: none !important;
    }
  }
  .PropertyListViewSelect {
    margin-bottom: 3rem;
    padding: 0;
    .btn {
      margin-bottom: 0.5rem;
    }
  }
  .no-rows-message {
    font-size: 14px;
  }
  .filter-container {
    padding: 0;
    .map-filter-bar {
      align-items: center;
      padding: 1rem 0;
      .bar-item {
        .form-group {
          padding: 0;
          margin: 0;
        }
      }
      .btn-warning {
        color: white;
        font-weight: bold;
      }
      .form-control {
        border-radius: 0;
      }
    }
  }
  .TableToolbar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0.5rem 0;
  }
  .ScrollContainer {
    padding: 1rem 0;
    overflow-x: auto;
    overflow-y: inherit;
    table {
      background-color: #fff;
    }
    .selected {
      background-color: $accent-color;
    }
  }
  .DisposeForm {
    padding: 1rem 3rem;
  }
  .invalid-feedback {
    text-align: right;
  }
}
