@import '../../../colors.scss';
@import '../../../variables.scss';

.excel-export-style {
  display: flex;
  justify-content: right;
  margin-top: 0.5rem;
  margin-right: 1rem;
  .excel-export-button {
    font-size: xx-large;
  }
  .excel-export-label {
    display: flex;
    font-size: medium;
    align-items: center;
    margin-bottom: 0;
    margin-right: 1rem;
  }
}
.table-container {
  margin-top: 1rem;
  margin-bottom: $footer-height * 1.5;
}
